.container-fluid
	a
		font-size: 1.3em
		color: #fff
		text-decoration: none
	
	.col-sm-4
		padding: 0px 49px
	.col-sm-8
		color: #fff
		height: 81px
		
		.ul
			padding: 29px
	
	li
		padding: 0px 20px

.navbar
	background-color: rgba(0,0,0,0.7)
	img
		padding: 10px 10px

.navbar-fixed-top
	border-width: 0
