doctype html
html(lang="en")
head
	title WebPageSan
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
	link(rel="stylesheet", href="main.css")
	link(rel="shortcut icon", href="favicon.ico")
body
	.container-fluid
		header
			nav.navbar.navbar-default.navbar-fixed-top
				.container-fluid
					.col-sm-4
						img(src="avatar.png", height="100", width="100").img-circle
					.col-sm-8
					
		.row.col-sm-12
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget ultricies urna. Cras vulputate sapien ipsum, quis iaculis arcu vehicula a. Suspendisse ut libero euismod, scelerisque metus luctus, sodales purus. Duis tincidunt nunc scelerisque urna eleifend vulputate. Phasellus posuere augue neque, ut malesuada velit egestas et. Suspendisse potenti. Donec quis imperdiet sem, vitae sagittis ante. Vestibulum at ipsum congue, finibus mi eget, efficitur ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc a augue lectus.

			p Curabitur gravida nisi dui, ut molestie dolor semper eget. Phasellus eu orci tellus. Proin turpis enim, fringilla eu lacinia at, vestibulum sed metus. Vivamus venenatis porta vestibulum. Curabitur urna nisi, dictum non iaculis ac, hendrerit vitae massa. Donec aliquet lobortis interdum. In vitae turpis sed diam aliquam consequat.

			p Nunc eu diam suscipit, blandit est ut, congue augue. Nullam vel auctor arcu. Duis eget eros mauris. Suspendisse potenti. Aliquam ultrices arcu eget suscipit vehicula. Cras massa felis, hendrerit sit amet neque ac, pharetra suscipit sapien. Donec ac semper mauris, nec dignissim sapien. Nam eleifend dui ut leo lobortis tempus. Maecenas a faucibus lacus. Phasellus laoreet magna vel tempus dapibus. In hac habitasse platea dictumst. Proin ac eros accumsan, aliquam nulla non, aliquet lectus. Curabitur neque sapien, aliquam nec ante quis, tincidunt blandit nibh.

			p Suspendisse non consequat odio. Aliquam erat volutpat. Integer efficitur, erat a luctus placerat, libero turpis tempus lectus, scelerisque egestas felis odio sit amet nisi. Nunc mattis ipsum quis est ultricies, sed volutpat nisl finibus. Nullam venenatis mauris nulla, sit amet molestie nulla ultricies a. Nunc ac nulla nec sapien consequat tempor eget at leo. Fusce tincidunt mi vitae velit faucibus iaculis et vitae mi. Mauris porta interdum hendrerit. Donec tristique, felis id convallis hendrerit, tellus libero gravida nisi, eget pellentesque nisl ligula at enim.

			p Fusce facilisis diam in porta luctus. Morbi semper varius risus, nec porta est molestie ac. Phasellus sed interdum ipsum. Aliquam erat volutpat. Etiam porta est in sollicitudin luctus. Proin laoreet aliquam enim. Integer sagittis lorem et quam malesuada, sed sollicitudin libero sollicitudin. Sed at lorem magna. Aenean venenatis nibh tincidunt, ultricies tortor vitae, dignissim tortor. Nulla nibh odio, ultrices nec sagittis sed, condimentum at magna. Nam a tristique turpis. Suspendisse eget sapien vel odio tempus tempus ac ut dolor. Proin ipsum velit, elementum non posuere eget, imperdiet in nibh. Vestibulum volutpat leo a feugiat porttitor. Sed tristique pellentesque urna. Cras non justo egestas, convallis nulla vitae, vehicula ex.

			p Donec feugiat sollicitudin luctus. Vivamus elit diam, ornare ut finibus quis, mollis quis lacus. Ut at massa tortor. Sed non dui sit amet dolor egestas sollicitudin non a sapien. Curabitur vulputate felis quis hendrerit cursus. Nulla nunc dui, molestie vel pharetra eget, finibus nec turpis. Donec consequat orci et tellus cursus, ac ultrices ligula accumsan. In ullamcorper malesuada varius. Aliquam venenatis pellentesque lectus ut fringilla.

			p Maecenas ut mi vitae ligula facilisis rutrum eget ultricies nulla. Integer ex lectus, gravida non pharetra ac, sollicitudin at justo. In et urna ullamcorper metus pulvinar aliquam. Integer elementum lorem ut convallis sodales. Cras eleifend leo sed sem ullamcorper egestas. Fusce non nisi sed arcu egestas pretium. Praesent hendrerit bibendum purus. Proin non vulputate massa, in efficitur quam. Sed gravida turpis sed felis rhoncus dignissim. Vivamus non neque tortor. Pellentesque facilisis interdum mauris, in sagittis tortor. Aliquam orci velit, dictum eget sagittis et, sagittis sit amet ante.

			p Fusce mauris felis, lacinia id lacinia nec, cursus luctus tortor. Ut sodales ut urna at dignissim. In laoreet, nunc ut faucibus pulvinar, ipsum massa efficitur nisl, id eleifend tellus elit vitae purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer a lorem eu erat volutpat tempor a id orci. Proin et elementum leo. Vivamus aliquet quam vel ex mattis, sagittis auctor arcu gravida. Aenean ut sapien nec risus porta rhoncus in at mauris.

			p Praesent at tempor dui. Aliquam erat volutpat. Vivamus sit amet vestibulum libero. Mauris consectetur urna sem. Donec erat lectus, placerat non faucibus at, pellentesque a metus. Curabitur posuere tortor purus, ac tempus dolor consequat sed. Vestibulum ex nisl, commodo pulvinar lorem vitae, mattis tincidunt neque. Integer eu ligula auctor, rhoncus felis ut, efficitur nunc. Maecenas porttitor mi nec quam feugiat, at hendrerit nulla ullamcorper. Vestibulum rutrum pretium felis venenatis facilisis. Suspendisse eu pellentesque mauris, quis mollis velit. Aliquam hendrerit lorem et quam faucibus imperdiet. Fusce et tellus nunc. Etiam sagittis nunc ex, vitae tempus ex placerat vel.

			p nteger imperdiet tellus eros, non gravida massa posuere non. Aliquam enim velit, pharetra sed convallis quis, vulputate in nisi. Suspendisse a erat magna. Morbi aliquam id ligula at porta. Praesent ultricies velit felis, eget ultrices nulla consectetur et. In quis sem et enim lobortis rhoncus. Maecenas tellus sapien, facilisis id sem ut, fermentum gravida nisl.

			p Proin scelerisque nisl suscipit sapien pharetra posuere. Integer ornare odio nec eros blandit ornare. Phasellus auctor neque id imperdiet hendrerit. Nam tincidunt consequat sem eget malesuada. Ut luctus, purus sit amet ornare gravida, metus ex maximus diam, sed semper ante odio eu turpis. Duis accumsan ex ut lacus auctor convallis. Ut at efficitur ligula, sit amet iaculis leo. Integer nec ultrices massa. Nunc mattis ut purus nec convallis. Suspendisse elementum quam mollis mollis tristique. Nullam eros nisi, suscipit quis dolor bibendum, congue accumsan nibh.

			p Vivamus posuere volutpat sem, non hendrerit est euismod sed. Suspendisse consequat diam nisi, a interdum tortor ultrices a. Cras non tristique ipsum, quis ornare nulla. Nunc ligula lorem, gravida sed rhoncus ut, ultrices nec sem. Aliquam et vehicula nunc. Cras sagittis quam ac gravida sodales. Aenean viverra sed quam ut eleifend. Praesent condimentum, dui condimentum molestie viverra, tellus risus tempor turpis, ac sollicitudin sapien nunc vel mauris. Quisque vel lacus justo. Nam odio libero, vestibulum eu mauris in, condimentum pulvinar est. Phasellus in sagittis turpis.

			p Donec eget sollicitudin sapien, a maximus sapien. Quisque sit amet bibendum libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin euismod odio eu dui suscipit condimentum. Quisque iaculis nisi purus, nec convallis tellus tristique sit amet. Morbi fermentum, dolor eu ultricies viverra, libero odio ullamcorper massa, quis volutpat ex libero sed ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus sed pharetra risus, vitae lobortis magna. Mauris ullamcorper aliquam elit, non tempor dolor pellentesque sit amet. Suspendisse egestas posuere sagittis. Aliquam erat volutpat. In et turpis libero.

			p Maecenas pulvinar justo sed enim fringilla, sed varius nisl consectetur. Aenean faucibus tristique nisi sed cursus. Aenean efficitur eros eu dignissim semper. Phasellus in augue in purus imperdiet pretium. Cras rhoncus vitae libero eu convallis. Sed vulputate leo et felis lacinia, eget elementum ligula ultricies. Cras quis porta turpis. Nam at fermentum risus.

			p Ut porttitor vehicula risus sit amet tempor. Vivamus metus nisi, molestie varius tellus ut, placerat feugiat risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean cursus metus non porta sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in diam et neque aliquam consectetur. Phasellus pulvinar vel sapien sed sollicitudin. Vivamus ornare velit quis venenatis fermentum. Donec malesuada nulla pulvinar, faucibus orci a, fringilla augue. Curabitur viverra velit urna, at accumsan risus consequat et. Fusce diam quam, tristique at pellentesque id, consectetur sit amet ipsum.

			p Vestibulum pretium posuere diam eget pharetra. Pellentesque sagittis commodo purus, at pellentesque turpis convallis at. Vivamus quam justo, ullamcorper ut tincidunt eu, tincidunt id sapien. Ut ut lectus et urna tempor blandit tempor eget nibh. Proin in felis ac nibh faucibus commodo et non neque. Maecenas interdum magna sed pharetra imperdiet. Maecenas gravida purus nulla, ut tincidunt diam vestibulum eu. Vivamus odio nisi, facilisis sit amet ultrices eu, varius et ipsum. Morbi eu venenatis est.

			p Integer varius sollicitudin magna non consectetur. Vestibulum fringilla ex quis efficitur semper. Mauris placerat lectus elit, ac congue nisl placerat vitae. Donec tincidunt hendrerit leo quis iaculis. Pellentesque semper vel felis faucibus aliquam. Mauris vulputate in libero tempus tempus. Curabitur convallis dictum ligula a fermentum. Aliquam eget erat in quam pulvinar vulputate. Maecenas ac odio lobortis, euismod purus nec, ullamcorper diam. Morbi vel auctor quam. Curabitur vitae neque porttitor, vestibulum velit sit amet, mattis erat. Nunc lectus magna, consectetur vehicula ornare id, volutpat vitae lorem. Nulla rutrum felis non leo facilisis, at euismod enim rutrum.

			p Sed consequat tempus ante non interdum. Sed et nulla orci. Pellentesque ornare dignissim tristique. Aenean tempor nunc nec sapien accumsan sagittis. Ut non mauris pretium, luctus nulla sed, venenatis nisi. Donec luctus dui a enim vulputate, id fermentum eros fermentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean porta pharetra convallis. Ut accumsan mi in neque placerat pretium. Cras in convallis neque. Etiam rutrum arcu risus, a pellentesque purus fermentum imperdiet. Maecenas dapibus neque enim, ut ultricies lorem iaculis vitae. Sed tincidunt faucibus aliquet. Donec eget eros fermentum leo lobortis blandit nec metus.
			
		.row.col-sm-12

	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")