doctype html
html(lang="en")
head
	title WebPageSan
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
	link(rel="stylesheet", href="main.css")
	link(rel="shortcut icon", href="favicon.ico")

body
	.container-fluid
		header
			nav.navbar.navbar-default.navbar-fixed-top
				.container-fluid
					.col-sm-4
						img(src="avatar.png", height="64", width="64").img-circle
					.col-sm-8.text-right
						.ul.list-inline
							li: a(href="") Sans
							li: a(href="") Lingua
							li: a(href="") Franca
					
		.row.col-sm-12
		.row.col-sm-12

	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
	script(src="parallax.min.js")